{{>header}}
{{>navbar}}

<section class="container my-4">
    <h2 class="text-primary mb-3">All Tasks</h2>
    <table class="table table-bordered">
        <thead>
            <th class="text-center">id</th>
            <th class="text-center">Task Title</th>
            <th class="text-center">Task Type</th>
            <th class="text-center">Task Details</th>
            <th class="text-center">Actions</th>
        </thead>
        <tbody>
            {{#unless taskStatus}}
                <tr>
                    <td colspan="4" class="text-center">No tasks added yet</td>
                </tr>
            {{else}}
                {{#each allTasks}}
                    <tr>
                        <td class="text-center">{{this._id}}</td>
                        <td class="text-center">{{this.taskTitle}}</td>
                        <td class="text-center">{{this.taskType}}</td>
                        <td class="text-center">{{this.taskDetails}}</td>
                        <td class="text-center">                    
                            <a href="/single/{{this._id}}" class="mr-2 btn btn-primary">show task</a>
                            <a href="/edit/{{this._id}}" class="mr-2 btn btn-warning">Edit task</a>
                            <a href="/delete/{{this._id}}" class="mr-2 btn btn-danger">delete task</a>
                        </td>
                    </tr>
                {{/each}}
            {{/unless}}
        </tbody>
    </table>
</section>

{{>footer}}